<a href="https://colab.research.google.com/github/IbrahimHammed/DSOCT24/blob/main/DSOCT24Lesson002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Write a codde to add 2 numbers and display the result**

In [3]:
# Input
prompt1 = "Enter number 1: "
prompt2 = "Enter number 2: "

number1 = input(prompt1)
number2 = input(prompt2)

# Process
number3 = number1 + number2

# Output
print(number3)

Enter number 1: 7
Enter number 2: 4
74

In [4]:
# Input
prompt1 = "Enter number 1: "
prompt2 = "Enter number 2: "

number1 = int(input(prompt1))
number2 = int(input(prompt2))

# Process
number3 = number1 + number2

# Output
print(number3)

Enter number 1: 7
Enter number 2: 4
11

In [9]:
# Input
prompt1 = "Enter number 1: "
prompt2 = "Enter number 2: "

number1 = input(prompt1)
number2 = input(prompt2)

# Process
number3 = int(number1) + int(number2)

# Output
print(number3)

Enter number 1: 7
Enter number 2: 4
11

In [10]:
# Input
prompt1 = "Enter number 1: "
prompt2 = "Enter number 2: "

number1 = float(input(prompt1))
number2 = float(input(prompt2))

# Process
number3 = number1 + number2

# Output
print(number3)

Enter number 1: 7.9
Enter number 2: 3.5
11.4

In [12]:
# Input
prompt1 = "Enter number 1: "
prompt2 = "Enter number 2: "

number1 = input(prompt1)
number2 = input(prompt2)

# Process
number3 = float(number1) + float(number2)

# Output
print(number3)

Enter number 1: 7
Enter number 2: 4
11.0

In [15]:
# Input
msg = "Enter 2 numbers separated by comma: "
number1, number2 = input(msg).split(",")

# Process
number3 = float(number1) + float(number2)

# Output
print(number3)

Enter 2 numbers separated by comma: 7,4
11.0

In [16]:
# Input
msg = "Enter 2 numbers separated by space: "
number1, number2 = input(msg).split(" ")

# Process
number3 = float(number1) + float(number2)

# Output
print(number3)

Enter 2 numbers separated by space: 3.4 5.6
9.0

In [17]:
# Input
length = float(input("Length:"))
breadth = float(input("Breadth:"))

# Process
area = length * breadth

# Output
print(area)

Length:12
Breadth:4
48.0

In [19]:
# Output formatting
quantity = 56
unitprice = 3.142

amount = quantity * unitprice

print("Quantity:", quantity)
print("Unit Price:", unitprice)
print("Amount:", amount)

Quantity: 56
Unit Price: 3.142
Amount: 175.952

In [20]:
# Output formatting
quantity = 56
unitprice = 3.142

amount = quantity * unitprice

print("The value of Quantity {} multiplied by Price {} is {}.".format(quantity, unitprice, amount))

The value of Quantity 56 multiplied by Price 3.142 is 175.952.

In [21]:
# Output formatting
quantity = 56
unitprice = 3.142

amount = quantity * unitprice

print(f"The value of Quantity {quantity} multiplied by Price {unitprice} is {amount}.")

The value of Quantity 56 multiplied by Price 3.142 is 175.952.

In [34]:
# Output formatting
quantity = 2561
unitprice = 7863.142

amount = quantity * unitprice

print(f"The value of Quantity {quantity:,.0f} multiplied by Price NGN{unitprice:,.2f} is NGN{amount:,.2f}.")

The value of Quantity 2,561 multiplied by Price NGN7,863.14 is NGN20,137,506.66.

**Mini-Exercise: Write a code to process purchase of any given item from your store**

In [36]:
# Input
customername = input("Customer name:")
item = input("Item Purchased:")
price = float(input("Price:"))
quantity = int(input("Quantity:"))

# Process
salesValue = price * quantity

# Output
print(f"{customername} purchased {quantity} units of {item} at NGN{price:,.2f} for NGN{salesValue:,.2f}.")

Customer name:Precious
Item Purchased:Apple
Price:34.50
Quantity:12
Precious purchased 12 units of Apple at NGN34.50 for NGN414.00.

In [37]:
# Input
customername = input("Customer name:")
item = input("Item Purchased:")

price = float(input(f"Price of {item}:"))
quantity = int(input(f"Quantity of {item}:"))

# Process
salesValue = price * quantity

# Output
print(f"{customername} purchased {quantity} units of {item} at NGN{price:,.2f} for NGN{salesValue:,.2f}.")

Customer name:Adaora
Item Purchased:iPhone 15
Price of iPhone 15:230
Quantity of iPhone 15:1
Adaora purchased 1 units of iPhone 15 at NGN230.00 for NGN230.00.

**Write a code in Python to process UTME result for any given candidate.**

In [38]:
print("***************************************************************************************************************")
print("                             UNIVERSITY MATRICULATION EXAMINATION (UTME)                                       ")
print("***************************************************************************************************************")

***************************************************************************************************************
                             UNIVERSITY MATRICULATION EXAMINATION (UTME)
***************************************************************************************************************