<a href="https://colab.research.google.com/github/IbrahimHammed/DSOCT24/blob/main/DSOCT24Lesson004.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
itemBucket = []
priceBucket = []
quantityBucket = []
amountBucket = []

In [6]:
maxCount = 4

for i in range(maxCount - 1):
  item = input(f"Enter item #{i+1}: ")
  price = float(input(f"Enter price for item #{i+1}: "))
  quantity = int(input(f"Enter quantity for item #{i+1}: "))

  itemBucket.append(item)
  priceBucket.append(price)
  quantityBucket.append(quantity)
  amountBucket.append(price * quantity)

print(itemBucket)
print(priceBucket)
print(quantityBucket)
print(amountBucket)

Enter item #1: Apple
Enter price for item #1: 50
Enter quantity for item #1: 10
Enter item #2: Orange
Enter price for item #2: 25
Enter quantity for item #2: 5
Enter item #3: Cashew
Enter price for item #3: 55
Enter quantity for item #3: 15
['Bread', 'Apple', 'Orange', 'Cashew']
[1000.0, 50.0, 25.0, 55.0]
[4, 10, 5, 15]
[4000.0, 500.0, 125.0, 825.0]

In [7]:
print('Item \t Price \t Quantity \t Amount')
for i in range(maxCount - 1):
  print(f'{itemBucket[i]} \t {priceBucket[i]} \t {quantityBucket[i]} \t {amountBucket[i]}')

Item 	 Price 	 Quantity 	 Amount
Bread 	 1000.0 	 4 	 4000.0
Apple 	 50.0 	 10 	 500.0
Orange 	 25.0 	 5 	 125.0

In [3]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
print(list(range(1,11,2)))

[1, 3, 5, 7, 9]

In [11]:
subjectBucket = []
scoreBucket = []

for item in range(4):
  subject = input(f"Subject {item + 1} is what?")
  subjectBucket.append(subject)

  score = input(f"Score in {subject} is what?")
  scoreBucket.append(score)

print(subjectBucket)
print(scoreBucket)

Subject 1 is what?MAT
Score in MAT is what?90
Subject 2 is what?ENG
Score in ENG is what?67
Subject 3 is what?PHY
Score in PHY is what?87
Subject 4 is what?CHE
Score in CHE is what?86
['MAT', 'ENG', 'PHY', 'CHE']
['90', '67', '87', '86']

In [12]:
shoppingList = []

shoppingList.append("Shoes")
shoppingList.append("Jacket")
shoppingList.append("Gloves")

print(shoppingList)

['Shoes', 'Jacket', 'Gloves']

In [13]:
shoppingList.insert(2, "Socks")
print(shoppingList)

['Shoes', 'Jacket', 'Socks', 'Gloves']

In [14]:
shoppingList.remove("Gloves")
print(shoppingList)

['Shoes', 'Jacket', 'Socks']

In [15]:
shoppingList.pop()
print(shoppingList)

['Shoes', 'Jacket']

In [16]:
shoppingList.clear()
print(shoppingList)

[]

In [17]:
items = ["Shoes", "Jacket", "Gloves", "Socks"]

item = input("Item name")
if item in items:
  print(f"{item} is in the list")
else:
  print(f"{item} is not in the list")

Item namePawpaw
Pawpaw is not in the list