<a href="https://colab.research.google.com/github/IbrahimHammed/DSOCT24/blob/main/PythonDemoDSOCT24_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Write a code to add 2 numbers and display the result**

In [ ]:
#VARIABLES
# 1. DESCRIPTIVE firstname, depreciation, cummulativedepreciation
# 2. NOT start with figure but can contain figure e.g 1stname (not valid) name1 (valid)
# 3. NO SPACE in the variable name e.g. first name (invalid) first_name (valid)
# 4. No hypen e.g. first-name (invalid) first_name, _first_name, first_name_, _first_name_
# 5. CASE SENSITIVITY e.g. firstname is not the same as Firstname
# 6. CANNOT be Python reserved words e.g print, if, else, elif, upper, etc
# SIMPLICITY

In [ ]:
# INPUT
number1 = 7
number2 = -4

# PROCESSING
result = number1 + number2

# OUTPUT
print(result)

3

In [ ]:
# INPUT
number1 = 7
number2 = -4

# PROCESSING
result = number1 - number2

# OUTPUT
print(result)

11

In [ ]:
# INPUT
number1 = 7
number2 = -4

# PROCESSING
result = number1 * number2

# OUTPUT
print(result)

-28

In [ ]:
# ARITHMETIC: +, -, *, /, //, %
# LOGICAL: AND, OR, NOT
# CONTAINER: IN, NOT IN
# COMPARATIVE: ==, !=, >, <, >=, <=

In [ ]:
# Gives the result of dividing x by y
# INPUT
number1 = 7
number2 = 4

# PROCESSING
result = number1 / number2

# OUTPUT
print(result)

1.75

In [ ]:
# Integer divisor operator gives integer output of dividing x by y
# INPUT
number1 = 7
number2 = 4

# PROCESSING
result = number1 // number2

# OUTPUT
print(result)

1

In [ ]:
# Modulus operator gives remainder of dividing x by y
# INPUT
number1 = 7
number2 = 4

# PROCESSING
result = number1 % number2

# OUTPUT
print(result)

3

In [ ]:
# INPUT
AssetCost = 1000000
Lifetime = 4
CalenderMonths = 12

# PROCESSES
Depreciation = AssetCost / (Lifetime * CalenderMonths)
NBV = Depreciation * 3

# OUTPUT
print(Depreciation)
print(NBV)

20833.333333333332
62500.0

**Write a python code to find the area of a circle of any given radius**

In [ ]:
# INPUT
radius = 21
pi = 3.142

# PROCESS
area = pi * (radius ** 2)

# OUTPUT
print(area)

1385.622

In [ ]:
# Inventory MGT System for a fast food business

In [ ]:
# Foundation of data analysis for AI